@{
    ViewData["Title"] = "The Joel Hilton Film Collection”";
}


<h1>Welcome to Joel Hilton's Film Collection!</h1>

<div>
    <p>It's always a magical day when you watch a movie!</p>
</div>
<img src="~/img/JoelHiltonHeadshot.jpg" height="400"/>

<div>
    <p asp-controller="Home" asp-action="AddMovie">Enter a movie into the database</p>
</div>

